body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 0.5em 0; /* Ajustado para dispositivos móviles */
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row; /* Elementos en una fila en pantallas grandes */
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 0.5em; /* Ajustado para pantallas pequeñas */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em; /* Ajustado para pantallas pequeñas */
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 0.5em 1em;
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.dropdown-menu li a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#inicio {
  position: relative;
  height: 100vh;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover; /* Asegura que la imagen cubra el área del contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  animation: slide 16s infinite;
}

.carousel-item:nth-child(1) { animation-delay: 0s; }
.carousel-item:nth-child(2) { animation-delay: 4s; }
.carousel-item:nth-child(3) { animation-delay: 8s; }
.carousel-item:nth-child(4) { animation-delay: 12s; }

@keyframes slide {
  0% { opacity: 0; }
  5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
  100% { opacity: 0; }
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.carousel-text h1 {
  font-size: 3em;
  margin: 0;
}

.carousel-text p {
  font-size: 1.2em;
  margin-top: 0.5em;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Cambia la dirección a columna en móviles */
  }

  nav ul li {
    margin: 0.5em 0; /* Ajusta el margen vertical */
  }

  .carousel-text h1 {
    font-size: 2em;
  }

  .carousel-text p {
    font-size: 1em;
  }

  nav ul li a {
    font-size: 1em;
  }

  .dropdown-menu {
    position: static; /* Hace que el menú desplegable se muestre correctamente */
    box-shadow: none; /* Elimina la sombra para móviles */
  }
}
